<%= form_for(@lftme) do |f| %>
  <% if @lftme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lftme.errors.count, "error") %> prohibited this lftme from being saved:</h2>

      <ul>
      <% @lftme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :request %><br>
    <%= f.text_field :request %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
